.footer
  .footer__wrapper
    .footer__social 
      a.footer__social__links(href="https://www.instagram.com/athletesonthemat/"  rel="noreferrer noopener" target="_blank")
        p instagram 
      a.footer__social__links(href="https://www.facebook.com/athletesonthemat" rel="noreferrer noopener" target="_blank")
        p facebook 
      a.footer__social__links(href="https://www.athletesonthemat.com/"  rel="noreferrer noopener" target="_blank")
        p website   
      a.footer__social__links(href="flashback-full.jpg" download rel="noreferrer noopener" target="_blank")
        p mentions
    .footer__icon 
      figure.footer__icon__brand__figure 
        a(href="https://www.microids.com/"  target="_blank" )
          img.footer__icon__brand__image(src="micorids.svg")
      figure.footer__icon__brand__figure 
        a(href="https://www.athletesonthemat.com"  target="_blank" )
          img.footer__icon__brand__athom(src="athom-pixel.svg")
  .footer__mentions
    p Athletes on the mat | Copyright 2023