.footer
  .footer__wrapper
    .footer__social 
      a.footer__social__links(href="https://www.instagram.com/athletesonthemat/"  rel="noreferrer noopener" target="_blank")
        img.footer__social__link__image(src="instagram_pixel.svg")
      a.footer__social__links(href="https://www.facebook.com/athletesonthemat" rel="noreferrer noopener" target="_blank")
        img.footer__social__link__image(src="facebook_pixel.svg")
      a.footer__social__links(href="https://www.youtube.com/@MicroidsOff" rel="noreferrer noopener" target="_blank")
        img.footer__social__link__image(src="youtube_pixel.svg")
      a.footer__social__links(href="https://www.athletesonthemat.com/"  rel="noreferrer noopener" target="_blank")
        img.footer__social__link__image(src="www.svg")   
      a.footer__social__links(href="mailto:contact@athletesonthemat.com"  rel="noreferrer noopener" target="_blank")
        img.footer__social__link__image(src="message.svg") 
      a.footer__social__links(href="flashback-full.jpg" download rel="noreferrer noopener" target="_blank")
        p Terms and Legal Notices
    .footer__icon 
      figure.footer__icon__brand__figure 
        a(href="https://www.microids.com/"  target="_blank" )
          img.footer__icon__brand__image(src="micorids.svg")
      figure.footer__icon__brand__figure 
        a(href="https://www.athletesonthemat.com"  target="_blank" )
          img.footer__icon__brand__athom(src="athom-pixel.svg")
  .footer__mentions
    p Athletes on the mat | Copyright 2023
  .back__to__top
    a
      img(src='arrow-up.svg')
  //- .footer__background