block variables
doctype html
html(class= isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "" lang="en")
  head
    include head
  body
    include preloader
    include cursor
    include navigation
    include pixel
    include progress
    #content.content(data-template=template)
      //- include canvas
      block content
    include scripts