block variables
doctype html
html(lang="en")
  head
    include head
  body(class=isDesktop ? "desktop" : isTablet ? "tablet" : isPhone ? "phone" : "")
    include preloader
    include cursor
    include navigation
    include pixel
    include progress
    #content.content(data-template=template)
      //- include canvas
      block content
    include scripts