nav.navigation 
  .navigation__wrapper
    a.navigation__link(href=('/'))
      img.navigation__link__icon(src='logo_brands.svg')

    ul.navigation__list 
      li.navigation__list__item 
        a.navigation__list__link(href='https://www.athletesonthemat.com', target='_blank') Official shop
