.preloader
  .preloader__brands
    img.preloader__brands__image(src=preloader.data.image.url alt=preloader.data.image.alt)
    .preloader__number 
      .preloader__number__text 0%
  .preloader__video 
    video.video__preloader(src=preloader.data.video1.url crossorigin="anonymous" preload autoplay muted controls)
    .preloader__video__close 
      p.skip__video skip introduction 