doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    base(href="/")

    title Webpack Express Pug

    meta(name="description" content="Boilerplate avec Webpack, Express et Pug")

    link(rel="stylesheet", type="text/css", href="/main.css")

  body
    h1 Hello World With Express
