.navigation {
  position: fixed;
  top: 30px;
  left: 0;

  height: 15vh;
  width: 100vw;

  z-index: z('navigation');

  display: flex;
  align-items: center;
}

.navigation__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  //margin: 0 6rem 0 6rem;

  background-color: #0000004f;
}

.navigation__link__icon {
  height: 80px;
  width: auto;
  margin: 2rem 6rem 2rem 6rem;
}

.navigation__list__link {
  color: #ffffff;
  @extend %p;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  margin: 0 6rem 0 6rem;
}

.has-scrolled .navigation__wrapper {
  opacity: 0;
}