html {
  font-size: calc(100vw / 1920 * 10);
  @extend %cover;
  // position: fixed;
  // top:0;
  // left: 0;
  // width: 100vw;
  min-height: 100vw;
  background-color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
  height: fill-available;
  height: -webkit-fill-available;

  @include media('<phone') {
    height: -webkit-fill-available;
  }
}

body {
  @extend %cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
  background-color: #000000;
  // height: fill-available;
  // height: -webkit-fill-available;
  // height: calc(100 * var(--vh)); /* Equivalent de 100vh */

  @include media('<phone') {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}

.preloader__scroll {
  overflow: hidden;
}

canvas#webgl {
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

// canvas#webglPS5 {
//   display: block;
//   height: 100vh;
//   width: 100vw;
//   z-index: -1;
//   position: relative;
// }

#webglPS5 {
  display: block;
  height: 100vh;
  width: 100vw;
  // position: fixed;
  // top: 0;
  // left: 0;
  //z-index: 1;
  
  //background-color: rgb(179, 139, 29);
}
