extend ../partials/layout.pug

block variables
  - var template = 'home'

block content 
  .home#smooth-wrapper
    .home__wrapper#smooth-content
      section.home__banner
        canvas.webgl
        .home__banner__title__wrapper  
          h1.home__banner__title total war has begun... <br/>rise to the challenge!
      section.home__gallery
        img.pixel3(src="pixels.svg" data-speed="1.3")
        .home__gallery__left
          .home__gallery__desktop__content
            .home__gallery__desktop__content__section
              h1 Flashback
              p In 1992, Flashback revolutionized action gaming and gained legendary status, ranking among the 100 best video games in history.<br><br>Today, Paul Cuisset, the creator of the original game, invites you to play again as Conrad B. Hart, the young agent of the GBI (Galactic Bureau of Investigation).
            .home__gallery__desktop__content__section 
              h1 Microids  
              p Since 1985, our mission has been to provide rich and memorable experiences for the whole family.<br><br>In our own studios in France, as well as in collaboration with outstanding partners like Pendulo Studios and Eden Games, we create and distribute video games for PC, consoles and smartphones.
            .home__gallery__desktop__content__section 
              h1 Athletes on the mat 
              p Pink is a color that is often associated with femininity, romance, and sweetness. It is a softer and more delicate shade of red that can evoke feelings of warmth, love, and nurturing. 
        .home__gallery__right 
          .home__gallery__desktop__photos
            figure.home__gallery__desktop__photo.red 
              img.js-tilt(src="1992-scale.jpg")
            figure.home__gallery__desktop__photo.green
              img.js-tilt(src="microids-scale.jpg")
            figure.home__gallery__desktop__photo.pink
              img.js-tilt(src="athom-scale.jpg")
      section.home__shop__title
        h1.home__shop__title__introduction(data-speed="clamp(1.3)") flashback 2
        .home__shop__title__introduction__wrapper
          p.home__shop__title__introduction(data-speed="clamp(1.3)") In the 22nd century, the peace of the United Worlds extends throughout the Solar System — but this tranquility is threatened by the Morph invasion led by the fearsome General Lazarus.<br><br>In search of his lifelong friend, Ian, and with the help of his few allies — including A.I.S.H.A., his iconic AI-powered weapon — Conrad, once again, dives into a heart-pounding adventure full of twists, turns and revelations!<br><br>A gripping, fluid and intricate platform shooter, including exploration, puzzle solving and, of course, adventure!
        h2.home__shop__title__introduction(data-speed="clamp(0.9)") Discover the collection
      section.home__shop__photos 
        .home__shop__photos__wrapper 
          .home__shop__photo(data-speed="clamp(1.1)")
            img(src="flashback-ps5.png")
            p Grappling Short "air conrad"
          .home__shop__photo(data-speed="clamp(0.8)")
            img(src="flashback-ps5.png")
            p Rashguard "air conrad"
        //- .home__shop__photos__text   
        //-   p shop them all !
      section.home__shop__photos 
        img.pixel2(src="pixels.svg" data-speed="2")
        .home__shop__photos__wrapper 
          .home__shop__photo(data-speed="clamp(0.9)")
            img(src="flashback-ps5.png")
            p tee-shirt "air conrad"
          .home__shop__photo(data-speed="clamp(1.3)")
            img(src="flashback-ps5.png")
            p hoodies "air conrad"
        .home__shop__photos__text   
          p shop them all !
      section.home__shop
        .home__shop__wrapper
          each media in home.data.products__shop
            .module
              figure.home__shop__media
                img.home__shop__media__image(alt=media.image__shop.alt src=media.image__shop.url)
                .home__shop__media__image__texte
                  h2 Hoodies 59€
        .home__shop__text
          a(href="https://www.athletesonthemat.com" rel="noreferrer noopener" target="_blank") SHOP ONLINE
      .home__draw__title
        h1(data-speed="1.1") enter the draw
        img.pixel(src="pixels.svg" data-speed="clamp(3)")
        h1(data-speed="1.3") win a PS5
        img(src="gamers.svg" data-speed="clamp(1.1)")
      section.home__draw
        .home__draw__section
          .home__draw__text(data-speed="clamp(1)")
            h2 Follow these steps and try to win a PS5 
            p 1 - Buy, one or more products (hoodies, tee-shirt, short or rashguards) ✅
            p 2 - Follow us on instagram ✅
            p 3 - "Like and comment" our "air conrad" post on instagram  ✅
            p.center Winner will be drawn at random on 23 November 2023 on instagram
      include ../partials/footer.pug